/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

/* img-Size */

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default; /* 마우스커서 */
}
a {
  text-decoration: none;
  color: var(--color-white);
}
ul {
  padding: 0;
  list-style: none;
}
li {
  line-height: 2rem;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-blue);
  align-items: center;
  padding: 1rem;
}
.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.navbar__logo > img {
  width: 2rem;
  margin-left: 0.5rem;
}

.navbar__menu__list {
  display: flex;
}
.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 0px;
  font-weight: var(--weight-bold);
  cursor: pointer;
  border-radius: 4px;
}
.navbar__menu__item:hover {
  background-color: var(--color-grey);
}

/* Home */

.home {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10rem;
}
.home__profile__picture {
  width: 25rem;
  border-radius: 10%;
  padding: 2%;
  /* margin: 2rem 0 0 2rem; * */
}

.home__discription {
  text-align: center;
}

.home__btn {
  border: none;
  display: inline-block;
  padding: 1rem 2rem;
  margin-top: 4rem;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: #6aafe6;
  color: #d4dfe6;
}
.home__btn:hover {
  transform: scale(1.1);
}
