/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-dark-white2: #cacaca89;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

/* img-Size */

/* Universal tags */
* {
  box-sizing: border-box;
}
section {
  padding: 7rem;
  border-bottom: 2px solid var(--color-blue);
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default; /* 마우스커서 */
}
a {
  text-decoration: none;
  color: var(--color-white);
}
ul {
  padding: 0;
  list-style: none;
}
li {
  line-height: 2rem;
}

/* Typography */

summary {
  margin-bottom: 2rem;
}
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin-bottom: 2rem;
  text-align: left;
}
summary {
  color: var(--color-light-grey);
  font-weight: 400;
}
h2.sub__title {
  font-size: var(--font-micro);
  font-weight: var(--weight-semi-bold);
  color: var(--color-grey);
  margin: 0;
  margin-bottom: 2rem;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 2rem 0;
  /* margin: 2rem 0; */
  /* text-align: left; */
}

h3 {
  font-size: 1.4rem;
  font-weight: var(--weight-regular);
  color: var(--color-black);
}
.subheading {
  margin-bottom: 3rem;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
  line-height: 40px;
}
.plain__text {
  font-size: medium;
}

/* Navbar */
.navbar {
  width: 100vw;
  /* height: 17vh; */
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-blue);
  align-items: center;
  padding: 1rem;
  z-index: 1;
}
.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.navbar__logo > img {
  width: 2rem;
  margin-left: 0.5rem;
}

.navbar__menu__list {
  display: flex;
}
.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 0px;
  font-weight: var(--weight-bold);
  cursor: pointer;
  border-radius: 4px;
}
.navbar__menu__item:hover {
  background-color: var(--color-light-grey);
  transition: background-color 200ms linear;
}

/* Home */

.home {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10rem;
}
.home__profile__picture {
  width: 33rem;
  border-radius: 20%;
  padding: 3%;
  /* margin: 2rem 0 0 2rem; * */
}
.home__title {
  font-size: 30px;
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin-bottom: 1rem;
  text-align: center;
}
.home__subTitle {
  color: var(--color-blue);
}

.home__discription {
  text-align: center;
  padding-top: 1rem;
  padding-top: 8rem;
}

.home__btn {
  border: none;
  display: inline-block;
  padding: 1rem 2rem;
  margin-top: 4rem;
  border-radius: 15px;
  /* box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2); */
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: #6aafe6;
  color: #d4dfe6;
  cursor: pointer;
}
.home__btn:hover {
  transform: scale(1.1);
  color: white;
  transition: color 200ms linear;
}

/* About */

.about__discription {
  text-align: left;
  margin-bottom: 4rem;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.about__discription > p {
  text-align: left;
}

/* skills */

.skills__description {
  text-align: left;
  margin-bottom: 4rem;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.skillset {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 2rem;
  border-radius: 10px;
  margin: auto;
  max-width: 1170px;
}

.skillset > div {
  border-radius: 6px;
  /* background-color: var(--color-light-grey); */
  flex-shrink: 1;
  width: 350px;
  border: 2px solid black;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin-bottom: 2rem;
}
.skill__item {
  border: 0.3px solid var(--color-dark-grey);
  margin: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 10px;
  padding: 0.5rem 1rem 1rem 1rem;
  line-height: 50%;
  color: var(--color-black);
  /* cursor: pointer; */
}

.skill__discription {
  padding-top: 10px;
  line-height: 20px;
  color: var(--color-grey);
  font-size: small;
  text-align: left;
  padding: 10px 15px 0 15px;
}

.skill__btn {
  text-align: center;
  margin-left: 20px;
  font-size: large;
  color: var(--color-blue);
  font-weight: var(--weight-semi-bold);
  transition: all 800ms linear;
  opacity: 0;
}
.active {
  text-align: center;
  margin-right: 10%;
  font-size: large;
  color: var(--color-blue);
  font-weight: var(--weight-semi-bold);
  transition: all 100ms linear;
  opacity: 1;
  padding-top: 8px;
}

.skill {
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  width: 85%;
}
.skill__title {
  margin: 4rem;
  color: var(--color-black);
}
.skill__percent {
  font-size: small;
}
.skill__bar {
  margin: auto;
  width: 85%;
  height: 4px;
  background-color: var(--color-dark-grey);
}
.skill__value {
  background-color: var(--color-orange);
  height: 100%;
}

/* Project */
.projects {
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.projects__list {
  display: flex;
  flex-flow: wrap column;

  margin: 4rem auto;
}
.project {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  /* width: 500px; */
  margin: 1rem 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: var(--color-blue); */
  border-radius: 1rem;
  border: 2px solid black;
}
.project:hover {
  background-color: var(--color-dark-white);
  transition: background-color 200ms linear;
}
.project img {
  padding-left: 0.5rem;
  width: 8rem;
}
.project__description {
  padding: 0 2rem;
  align-items: center;
  margin: auto;
}
.project__description > p {
  font-size: small;
}
.project__btn {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}
.project__description .btn__type1 {
  border: none;
  display: inline-block;
  padding: 1rem 1rem;
  margin-top: 1rem;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: #6aafe6;
  color: #d4dfe6;
  margin-left: 2rem;
  cursor: pointer;
}
.btn__type2 {
  border: none;
  display: inline-block;
  padding: 1rem 1rem;
  margin-top: 1rem;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: #4a7889;
  color: #d4dfe6;
  margin-left: 2rem;
  cursor: pointer;
}
.project__description button:hover {
  transform: scale(1.1);
  color: white;
  transition: color 200ms linear;
}

/* Contact */
.contact {
  padding: 2rem;
  background-color: var(--color-blue);
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
}
.contact__title,
.contact__email {
  margin: 0 0 0.5rem 0;
}
.contact__email {
  font-weight: var(--weight-semi-bold);
}
.contact__links i {
  margin: 0.3rem;
  font-size: 1.5rem;
}
.contact__links i:hover {
  transform: scale(1.3, 1.3);
  cursor: pointer;
}
.contact__right {
  font-size: var(--font-micro);
  margin-top: 10px;
}

@media screen and (max-width: 1024px) {
  .home {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home img {
    width: 60%;
  }
  .home__discription {
    padding-top: 0;
  }
  .skillset > div {
    flex-direction: column;
    width: 500px;
  }
  .skill__discription {
    padding: 10px 30px 0 30px;
  }
  .projects__list {
    max-width: 600px;
  }

  .projects {
    display: block;
  }
  .projects h3 {
    font-size: medium;
    font-weight: 600;
  }
  .projects img {
    width: 35%;
  }
}

@media screen and (max-width: 784px) {
  /* section */
  section {
    text-align: center;
    padding: 2rem;
  }
  /* nav */
  .navbar {
    flex-direction: column;
  }

  /* about */
  .about__discription {
    align-items: center;
  }
  .about__career {
    width: 60%;
  }
  .about__education {
    width: 60%;
  }

  .about__career__education {
    margin: 0;
  }
  section {
    padding: 4rem;
  }
  .projects__list {
    margin: 5rem auto;
  }
}
